.card > img {
    width: 22vw;
    height:auto;
    margin-inline: 10px;
    margin-top: 10px;
}
.card {
    outline: #e9d700 solid 1px;
    border-radius: 20px;

    display:flex;
    flex-direction:column;
    row-gap: 2px;
    justify-content: center;
    align-items: center;

    min-height:250px;

}

.card:hover{
    outline-width: 4px;
    outline-style: solid;
    outline-color: aliceblue;

}

.cardTitle {
    display:flex;
    justify-content: center;

    font-weight: 900;
    color:rgb(250, 0, 50);
}