.card > img {
    width: 20vw;
    height:auto;
    margin-inline: 10px;
    margin-top: 10px;
}
.card {
    outline: #e9d700 solid 4px;
    border-radius: 20px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    min-height:250px;

    transition: transform 500ms;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-10px);
    outline-color: aliceblue;
}

.cardTitle {
    display:flex;
    justify-content: center;

    font-weight: 900;
    color:rgb(250, 0, 50);
}

.win {
    outline-color: green; 
}

.lose {
    outline-color: red; 
}