.header{
    display:flex;
    justify-content: space-between;
}
.yellow {
    color:#e9d700;
}


.left-header > *{
    margin-bottom: 10px;
}
.left-header > .initialD{
    font-style: italic;
}

.left-header > .headerTitle {
    font-size: 3rem;
}

.redD{
    color:rgb(250, 0, 50)
}




.right-header{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 20px;
}